@import "../../const";
.data {
  border-collapse: collapse;
  width: 100%;
  color: $text-black-color;
  font-size: 15px;

  th,
  td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid $button-noactive-color;
    color: $text-black-color;
    max-width: 200px;
    overflow: hidden;
    width: 30%;
    a {
      text-decoration: none;
      color: $text-black-color;
    }
  }
}

.finish {
  text-decoration: line-through;
}

.del_button {
  background-color: $button-light-blue-color;
  color: $text-white-color;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
}

.finish_button {
  background-color: $button-orange-color;
  color: $text-white-color;
  padding: 12px 5px;
  border: none;
  cursor: pointer;
}

.create_button {
  background-color: $button-dark-red-color;
  color: $text-white-color;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.filter {
  margin-top: 20px;
  display: inline-block;

  button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid $button-noactive-color;
    width: 80px;

    &.active {
      background-color: $button-active-color;
      color: white;
      border: 1px solid $button-active-color;
    }

    &:hover:not(.active) {
      background-color: $button-noactive-color;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.checkContainer {
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ .checkmark {
        background-color: $checkbox-checked-color;

        &:after {
          display: block;
        }
      }
    }
  }

  &:hover {
    input {
      ~ .checkmark {
        background-color: $checkbox-hover-color;
      }
    }
  }
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $checkbox-normal-color;
  margin: auto;

  &:after {
    content: "";
    position: absolute;
    display: none;

    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $text-white-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Style the checkmark/indicator */
