/* mixIns */
@mixin border-radius($radius) {
  border-radius: $radius;
}

/* color constants */

/*text-color*/
$text-black-color: black;
$text-white-color: white;

/*button-color*/
$button-light-blue-color: rgb(100, 200, 230);
$button-orange-color: rgb(255, 100, 30);
$button-dark-red-color: rgb(100, 30, 30);
$button-active-color: #4caf50;
$button-noactive-color: #ddd;
$button-hover-color: #a2b1a3;

$checkbox-checked-color: #2196f3;
$checkbox-hover-color: #777;
$checkbox-normal-color: rgb(63, 61, 61);

/*container color*/
$body-back-color: #282c34;
$container-color: #f2f2f2;
$box-shadow-color1: rgba(255, 254, 254, 0.8);
$box-shadow-color2: rgba(0, 0, 0, 0.19);

$validation-form-color: red;
