@import "../../const";

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $button-noactive-color;
  @include border-radius(4px);
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: $text-black-color;
}

input[type="submit"] {
  background-color: $button-orange-color;
  color: white;
  padding: 12px 20px;
  border: none;
  @include border-radius(10px);
  cursor: pointer;
  float: right;
  margin-right: 15px;
}

input[type="submit"] {
  &:hover {
    background-color: $button-hover-color;
  }
}

.cancel_button {
  background-color: $button-dark-red-color;
  color: $text-white-color;
  padding: 12px 20px;
  border: none;
  @include border-radius(10px);
  cursor: pointer;
  float: right;
  &:hover {
    background-color: $button-hover-color;
    color: $text-white-color;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
  }
}

.title_valdiation {
  border-bottom-color: $validation-form-color !important;
  border-bottom-width: 2px !important;
}

.input_validaton_badge {
  color: $validation-form-color;
  text-align: left;
  font-size: 13px;
  padding-left: 5px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"],
  .cancel_button {
    width: 100%;
    margin-top: 0;
  }
}
